{{#section "headerLinks"}}
    <li><a href="/cadastro">Sou propietario</a></li>
    <li><a href="/restaurantes">Restaurantes</a></li>
    <li><a href="/admin/cadastro-pratos">Adicionar pedidos</a></li>
{{/section}}